<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Notification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container notificationPage">
        <h2><%= notification %></h2>
        <p><em><%- message %></em></p>
        <br><br>
        <a href="/"><button class="btn btn-warning"><span class="fa fa-home fa-2x">  Home</span></button></a>
    </div>

    <script>
        setTimeout(function() {
            window.location.replace('/');
        }, 5000)
    </script>
</body>
</html>
