
<!DOCTYPE html>
<html>

    <head>
        <title>viewlog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Hours</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Start Time</td>
                    <td>End Time</td>
                    <td>Duration</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>Dummy Date</td>
                <td>0:00:00</td>
                <td>1:00:11</td>
                <td>1</td>
            </tr>


            <tr>
                <td>Dummy Date</td>
                <td>0:00:00</td>
                <td>1:00:11</td>
                <td>1</td>
            </tr>
            </tbody>
        </table>

        <a href="/home"><button class="btn btn-primary" id="homepageBtn"><span class="fa fa-home"></span></button></a>
    </body>
</html>