body {
    background-color: #47B6FF;
    text-align: center;
    align-content: center;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

button{
    width: auto;
    min-width: 300px;
    height: 40px;
    margin: 25px;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    color: #ccc;
    background-color: #555;
    background: -webkit-linear-gradient(#888, #555);
    background: linear-gradient(#888, #555);
    border: 0 none;
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0,0,0,0.6);
    cursor: pointer;
}

input{
    width: 59%;
    min-width: 250px;
    margin-top: 50px;
    margin-bottom: 25px;
    background-color: #FFF;
}

h1{
    text-shadow: -1px -1px 1px #000;
    color: #FFF;
}

tr.found{
    background-color:#00B7FF;
}